{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Me</h1>

<img src='{% static "img/confident.jpg" %}' class='img-responsive' />

<br/>

<br/>

<blockquote>
	I'm selfish, impatient, and a little insecure. I make mistakes, I'm out of control, and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.
</blockquote>

<blockquote>
	I'm most proud of the blessings that God has bestowed upon me, in my life. He's given me the vision to truly see that you can fall down, but you can still get back up. Hopefully I'll learn from my mistakes and have the opportunity to strengthen and improve the next thing I do.
</blockquote>

</div>

</div>


{% endblock %}